.academic__courses__box{
    height: auto;
    padding: 8px 0;
    text-align: center;
    width: 23rem;
    transition: opacity .5s ease-in-out, max-height .5s ease-in-out;
    opacity: 1;
    position: relative;
}

.disabled_course {
    opacity: 0;
    position: absolute;
    pointer-events: none; 
}