.skills__box{
    display: flex;
    text-align: left;
    padding: 0, 1rem, 1rem, 0;
    max-height: 20vh;
    margin-left: 1.5rem;
    transition: .25s all linear;
    max-width: 20vh;
}

.skills__box:hover{
    filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.75));
}