.mobile_nav {
    align-items: center;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-menu-item-mobile { 
    display: flex;
    gap: 2rem;
    transition: .7s ease; 

}

.hamburguer {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background-color: #464646;
}

@media (max-width:900px) {

    .hamburguer { display: block; }

    .hamburguer.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburguer.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburguer.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 100px;
        gap: 0;
        flex-direction: column;
        background-color: #EAF2FD;
        width: 100%;
        text-align: center;
        transition: .3s;
        z-index: 1;
        opacity: 0;
        border-radius: 30%;
    }
    
    .nav-menu.active { 
        opacity: 1;
        left: -50%; 
    }
    
    .nav-menu-item-mobile { 
        display: flex;
        margin: 16px 0; 
    }

    .nav-menu-item-mobile img {
        display: block;
        width: 24px;
        height: 24px;
    }

}

@media (min-width:680px) and (max-width:900px) {
    .nav-menu {
        width: 60%;
        border-radius: 10%;
    }
    
    .nav-menu.active { 
        left: -30%; 
    }
}