.hobbies__box{
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: flex-end;
    background-color: #fff;
    padding: 0, 1rem, 1rem, 0;
    height: 11rem;
    margin-left: 2rem;
    transition: .25s all linear;
    width: 15rem;
}

.hobbies__box:hover{
    filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.75));
}