/*CSS Reset / Normalize*/
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root{
    /*Insira a variavel das outras cores inspecionando o modelo do figma*/
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
   --cor-de-fundo: #EDEDED;
   --cor-de-link: #000;
   --fonte-padrao: 'Raleway' , sans-serif;
   --cor-padrao-texto: #464646;
   --tamanho-padrao-container: 71rem;
}

body {
    color: var(--cor-padrao-texto);
    box-sizing: border-box;
    background-color: var(--cor-de-fundo) ;
    font-family: var(--fonte-padrao);
    line-height: 1;
    margin: 0;
    padding: 0;
}
ol, ul,li {
    list-style: none;
}
h2, h3 {
    font-family: var(--fonte-padrao);
    color: var(--cor-padrao-texto);
}
a{
    color: var(--cor-de-link);
    cursor: pointer;
    text-decoration: none;
}
.about a{
    font-size: 14px;
    font-weight: 500;
}
input:focus{
    border-bottom: 2px solid #2A7AE4;
    box-shadow: rgba(0, 0, 0, 0.25) 5px 10px 15px;
    color: #2A7AE4;
    outline: none;
    transform: translateY(-2px);
    transform: translateX(-2px);
}
textarea:focus{
    border-bottom: 2px solid #2A7AE4;
    box-shadow: rgba(0, 0, 0, 0.25) 5px 10px 15px;
    color: #2A7AE4;
    outline: none;
    transform: translateY(-2px);
    transform: translateX(-2px);
}

/*Neste desafio, gostariamos que praticassem a metodologia BEM, caso seintam a vontade 
de utiliza-la. 

Mas o que é o BEM?

BEM (Block, Element, Modifier) ​​é uma abordagem baseada em componentes para o desenvolvimento
web. A ideia por trás disso é dividir a interface do usuário em blocos independentes.
Isso torna o desenvolvimento de interface fácil e rápido, mesmo com uma interface
de usuário complexa, e permite a reutilização de código existente sem copiar e colar.

Link da documentação oficial!
https://en.bem.info/methodology/quick-start/*/

/*Sessão Menu*/

section.menu{
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 88px;
    margin: 0 auto;
    padding: 32px 0;
    width: 84%;
}

/*Sessão Title*/

section.title{
    display: block;
    height: 26.5rem;
    margin: 0 auto;
    width: var(--tamanho-padrao-container);
}

/*Sessão About*/

section.about{
    background-color: #EAF2FD;
    display: block;
    margin: 7rem auto;
    padding: 4rem 7.5rem;
    text-align: left;
}

/*Sessão Hobbies*/

section.hobbies{
    display: block;
    height: 15.25rem;
    justify-content: center;
    margin-bottom: 5.5rem;
    text-align: center;
    width: 90%;
}

/* Experiência Acadêmica*/

section.academic{
    background-color: #EAF2FD;
    display: block;
    margin: 7rem auto;
    padding: 4rem 3rem;
    position: relative;
    text-align: center;
}

/* experiência*/

section.experience{
    display: block;
    margin: 2rem 5%;
    width: 90%;
}

/*Contato*/

section.formcontato{
    background-color: #EAF2FD;
    display: block;
    height: 62%;
    margin-top: 2rem;
    padding: 4rem;
}

/*footeer*/

section.footer{
    color: var(--cor-padrao-texto);
    display: block;
    font-family: var(--fonte-padrao);
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    background-color: #fff;
    padding: 2rem;
}


/*estilos de scroll*/
body::-webkit-scrollbar {
    width: 11px;              
}
  
body::-webkit-scrollbar-track {
    background: var(--cor-padrao-texto);
}
  
body::-webkit-scrollbar-thumb {
    background-color: darkcyan;    
    border-radius: 15px;    
}

  
body::-webkit-scrollbar:active {
    width: 14.5px;               
}

#scrollToTop {
    background: #000;
    border-radius: 50%;
    bottom: 20px;
    color: #fff;
    font-size: 24px;
    display: none;
    height: 40px;
    line-height: 40px;
    position: fixed;
    right: 20px;
    text-align: center;
    width: 40px;
    z-index: 99;
}
  
#scrollToTop:hover {
    background: #555;
}
  

/* Chegou a hora de se desafiar com a responsividade, 
utilize como referência os breakpoints @media abaixo*/

/*Tablet*/
@media (max-width: 768px) {

/* Menu */

/*title*/

/*Skills*/

/*Hobbies*/

/*Experiências acadêmicas*/

/*Expeirência profissional*/

}

/*Mobile*/
@media (max-width: 425px) {
body{
    display: block;
}
/*Menu*/
section.menu{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

nav{
    width: 40%;
}

.menu__list{
    width: 2%;
}

.menu__list__item{
    display: none;
    width: 2%;
}

.menu__list__item:last-child{
    display: inline-block;
    margin-left: 2rem;
}

/*Titulo*/
section.title{
    display: block;
    text-align: center;
    width: 100%;
}
.title__div{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 0;
    padding: 1rem;
    padding-left: 2rem;
    width: 320px;
}

.title__container{
    display: flex;
    flex-direction: column;
    margin-right: 15%;
    position: relative;
    width: 85%;
}

.title__bio{
    font-size: 24px;
}

.title__subsection{
    font-size: 14px;
}

.title__network{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.title__network__item{
    margin-top: 1.5em;
}

.title__profile{
    display: flex;
    filter: drop-shadow(2px 6px 10px rgba(0, 0, 0, 0.75));
    height: 268px;
    margin-top: 2rem;
    margin-right: 2.5rem;
    text-align: center;
    width: 268px;
}

/*Sessão sobre*/
section.about{
    display: block;
    background-color: #EAF2fd;
    height: 36.25rem;
    text-align: justify;
    margin-top: 58rem;
    padding: 2rem;
}

#sobremim{
    background-color: #EAF2FD;
    display: flex;
}

.about__container{
    display: flex;
    justify-content: center;
}

.about__title{
    font-size: 22px;
}

.about__paragraph{
    display: flex;
    flex-wrap: wrap;
    background-color: #EAF2FD;
    margin-top: 1rem;
    margin-bottom: 0;
    font-size: 14px;
}

#imagem__assinatura{
    display: none;
}

/*Skills*/
section.skills{
    align-items: center;
    display: block;
    position: relative;
    margin: 1rem 0;
    text-align: center;
    width: 350px;
}

.skills__title{
    font-size: 22px;
}

.skills__line{
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    text-align: left;
    width: 100%;
}

.skills__box{
    margin-top: 32px;
    margin-left: 1em;
}

/*Hobbies*/
section.hobbies{
    display: block;
    position: relative;
    margin-left: 0;
    margin-top: 18rem;
    width: 350px;
    height: 500px;
}

.hobbies__title{
    font-size: 22px;
}

.hobbies__line{
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    width: 100%;
}

.hobbies__box{
    margin-top: 2em;
    padding: 0;
    margin-left: 1em;
    justify-content: flex-start;
    width: 80px;
} 
/*Formação Acadêmica*/
section.academic{
    height: 1375px;
    padding: 2em;
    padding-left: 0;
}

.academic__title{
    text-align: center;
}

.academic__courses{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.academic__courses__box{
    margin: 3rem 0;
    margin-top: 0;
}

/*Experiência Profissional*/
.experience__section__title{
    font-size: 22px;
    line-height: 26px;
}

.experience__box{
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 5rem;
    width: 18.5rem;
}

#experience__box__apeperia{
    align-items: flex-start;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin-bottom: 5rem;
    width: 18.5rem;
}

.experience__info{
    font-size: 8px;
    font-weight: 500;
    padding: 0 auto;
    width: 100%;
}

.experience__description{
    display: flex;
}

 /*Contato*/
#contato{
   justify-content: center;
}

 .formcontato__text{
    width: 100%;
 }
 
 .formcontato__img{
    display: none;
}

#formcontato__botao{
    padding: 2%;
    width: 70%;
}

/*Footer*/

}