/*CSS Reset / Normalize*/
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root{
    /*Insira a variavel das outras cores inspecionando o modelo do figma*/
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
   --cor-de-fundo: #FFFFFF;
   --cor-de-link: #000;
   --fonte-padrao: 'Raleway' , sans-serif;
   --cor-padrao-texto: #464646;
   --tamanho-padrao-container: 71rem;
}

body {
    color: var(--cor-padrao-texto);
    box-sizing: border-box;
    background-color: var(--cor-de-fundo) ;
    font-family: var(--fonte-padrao);
    line-height: 1;
    margin: 0;
    padding: 0;
}
ol, ul,li {
    list-style: none;
}
h2, h3 {
    font-family: var(--fonte-padrao);
    color: var(--cor-padrao-texto);
}
a{
    color: var(--cor-de-link);
    cursor: pointer;
    text-decoration: none;
}
input:focus{
    border-bottom: 2px solid #2A7AE4;
    box-shadow: rgba(0, 0, 0, 0.25) 5px 10px 15px;
    color: #2A7AE4;
    outline: none;
    transform: translateY(-2px);
    transform: translateX(-2px);
}
textarea:focus{
    border-bottom: 2px solid #2A7AE4;
    box-shadow: rgba(0, 0, 0, 0.25) 5px 10px 15px;
    color: #2A7AE4;
    outline: none;
    transform: translateY(-2px);
    transform: translateX(-2px);
}

/*Neste desafio, gostariamos que praticassem a metodologia BEM, caso seintam a vontade 
de utiliza-la. 

Mas o que é o BEM?

BEM (Block, Element, Modifier) ​​é uma abordagem baseada em componentes para o desenvolvimento
web. A ideia por trás disso é dividir a interface do usuário em blocos independentes.
Isso torna o desenvolvimento de interface fácil e rápido, mesmo com uma interface
de usuário complexa, e permite a reutilização de código existente sem copiar e colar.

Link da documentação oficial!
https://en.bem.info/methodology/quick-start/*/

/*Sessão Menu*/

section.menu{
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 88px;
    margin: 0 auto;
    padding: 32px 0;
    width: 84%;
}

/*Sessão Title*/

section.title{
    display: block;
    height: 26.5rem;
    margin: 0 auto;
    width: var(--tamanho-padrao-container);
}

/*Sessão About*/

section.about{
    background-color: #EAF2FD;
    display: block;
    margin: 7rem auto;
    padding: 4rem 7.5rem;
    text-align: left;
}

/*Sessão Hobbies*/

section.hobbies{
    display: flex;
    flex-direction: column;
    height: 15.25rem;
    justify-content: center;
    margin-bottom: 5.5rem;
    text-align: center;
    width: 90%;
}

/* Experiência Acadêmica*/

section.academic{
    background-color: #EAF2FD;
    display: block;
    margin: 7rem auto;
    padding: 4rem 8rem;
    position: relative;
    text-align: center;
}

/* experiência*/

section.experience{
    align-items: center;
    display: block;
    justify-content: center;
    margin: 2rem auto;
    width: 1136px;
}

/*Contato*/

section.formcontato{
    background-color: #EAF2FD;
    display: block;
    height: 62%;
    margin-top: 2rem;
    padding: 4rem;
}

/*footeer*/

section.footer{
   
}


/*estilos de scroll*/
body::-webkit-scrollbar {
    width: 12px;              
}
  
body::-webkit-scrollbar-track {
    background: var(--cor-padrao-texto);
}
  
body::-webkit-scrollbar-thumb {
    background-color: darkcyan;    
    border-radius: 20px;    
}

  
body::-webkit-scrollbar:active {
    width: 14.5px;               
}

#scrollToTop {
    background: #000;
    border-radius: 50%;
    bottom: 20px;
    color: #fff;
    font-size: 24px;
    display: none;
    height: 40px;
    line-height: 40px;
    position: fixed;
    right: 20px;
    text-align: center;
    width: 40px;
    z-index: 99;
}
  
#scrollToTop:hover {
    background: #555;
}
  

/* Chegou a hora de se desafiar com a responsividade, 
utilize como referência os breakpoints @media abaixo*/

/*Tablet*/
@media (min-width: 768px) {

/* Menu */

/*title*/

/*Skills*/

/*Hobbies*/

/*Experiências acadêmicas*/

/*Expeirência profissional*/

}

/*Mobile*/
@media (min-width: 425px) {

/*Menu*/

/*Titulo*/

/*Sessão sobre*/

/*Skills*/

/*Hobbies*/
 
/*Formação Acadêmica*/

/*Experiência Profissional*/

 /*Contato*/

/*Footer*/

}
