/*CSS Reset / Normalize*/
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root {
    /*Insira a variavel das outras cores inspecionando o modelo do figma*/
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
    --cor-de-fundo: #EDEDED;
    --cor-de-link: #000;
    --fonte-padrao: 'Raleway', sans-serif;
    --cor-padrao-texto: #464646;
    --tamanho-padrao-container: 71rem;
}

body {
    color: var(--cor-padrao-texto);
    box-sizing: border-box;
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-padrao);
    line-height: 1;
    margin: 0;
    padding: 0;
}

ol,
ul,
li {
    list-style: none;
}

h2,
h3 {
    font-family: var(--fonte-padrao);
    color: var(--cor-padrao-texto);
}

a {
    color: var(--cor-de-link);
    cursor: pointer;
    text-decoration: none;
}

.about a {
    font-size: 14px;
    font-weight: 500;
}

input:focus,
textarea:focus {
    border-bottom: 2px solid #2A7AE4;
    box-shadow: rgba(0, 0, 0, 0.25) 5px 10px 15px;
    color: #2A7AE4;
    outline: none;
    transform: translate(-2px, -2px);
}

/*Neste desafio, gostariamos que praticassem a metodologia BEM, caso seintam a vontade 
de utiliza-la. 

Mas o que é o BEM?

BEM (Block, Element, Modifier) ​​é uma abordagem baseada em componentes para o desenvolvimento
web. A ideia por trás disso é dividir a interface do usuário em blocos independentes.
Isso torna o desenvolvimento de interface fácil e rápido, mesmo com uma interface
de usuário complexa, e permite a reutilização de código existente sem copiar e colar.

Link da documentação oficial!
https://en.bem.info/methodology/quick-start/*/

/*Sessão Menu*/

section.menu {
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 88px;
    margin: 0 auto;
    padding: 32px 0;
    width: 84%;
}

/*Sessão Title*/

section.title {
    display: block;
    height: auto;
    margin: 0 auto;
    width: var(--tamanho-padrao-container);
}

/*Sessão About*/

section.about {
    background-color: #EAF2FD;
    display: block;
    margin-top: 5rem;
    padding: 4rem 0;
    text-align: left;
}

/*Sessão Skills e Hobbies*/
section.skills, section.hobbies {
    padding-top: 7rem;
    padding-bottom: 5rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 1rem auto;
    width: 100%;
}

/* Experiência Acadêmica*/

section.academic {
    background-color: #EAF2FD;
    display: block;
    margin: 7rem auto;
    padding: 4rem 3rem;
    text-align: center;
}

/* experiência*/

section.experience {
    display: block;
    margin: 2rem 5%;
    width: 90%;
}

/*Contato*/

section.formcontato {
    background-color: #EAF2FD;
    display: block;
    height: 62%;
    margin-top: 2rem;
    padding: 4rem;
}

/*footer*/

section.footer {
    color: var(--cor-padrao-texto);
    display: block;
    font-family: var(--fonte-padrao);
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    background-color: #fff;
    padding: 2rem;
}

/*estilos de scroll*/
body::-webkit-scrollbar {
    width: 11px;
}

body::-webkit-scrollbar-track {
    background: var(--cor-padrao-texto);
}

body::-webkit-scrollbar-thumb {
    background-color: darkcyan;
    border-radius: 15px;
}

body::-webkit-scrollbar:active {
    width: 14.5px;
}

#scrollToTop {
    background: #000;
    border-radius: 50%;
    bottom: 20px;
    color: #fff;
    font-size: 24px;
    display: none;
    height: 40px;
    line-height: 40px;
    position: fixed;
    right: 20px;
    text-align: center;
    width: 40px;
    z-index: 99;
}

#scrollToTop:hover {
    background: #555;
}

@media (max-width: 900px) {
    /*Menu*/
    section.menu {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }

    .default_nav {
        display: none;
        justify-content: flex-end;
        padding: 1rem;
        width: 10%;
    }

    .mobile_nav {
        display: flex;
    }

    .menu__list__item {
        width: 10%;
    }

    /*Titulo*/
    section.title {
        text-align: center;
        width: 100%;
    }

    .title__div {
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .title__container {
        align-items: flex-start;
        position: relative;
        width: 60%;
    }

    .title__bio {
        display: flex;
        align-items: flex-start;
        text-align: top;
        width: 100%;
    }

    .title__network {
        width: 100vh;
    }

    .title__profile {
        display: flex;
        filter: drop-shadow(2px 6px 10px rgba(0, 0, 0, 0.75));
        border-radius: 50%;
        margin: 0;
    }

    /*Sessão sobre*/
    section.about {
        text-align: justify;
    }

    #sobremim {
        align-items: flex-start;
        background-color: #EAF2FD;
    }

    .about__container {
        justify-content: flex-start;
    }

    .about__paragraph {
        display: flex;
        flex-wrap: wrap;
        background-color: #EAF2FD;
        margin-top: 1rem;
        margin-bottom: 0;
        font-size: 14px;
    }

    #imagem__assinatura {
        margin-top: 1rem;
        display: block;
    }

    /*Skills e Hobbies*/
    .skills__line, .hobbies__line {
        flex-direction: row;
        flex-wrap: wrap;
        text-align: left;
        width: 100vh;
    }

    .skills__box, .hobbies__box {
        margin-top: 1.2rem;
        width: 9rem;
    }

    /*Formação Acadêmica*/
    section.academic {
        padding: 2em;
        padding-left: 0;
    }

    .academic__courses {
        flex-wrap: wrap;
        width: 100%;
    }

    .academic__courses__box {
        margin: 3rem 0;
        margin-top: 0;
    }

    /*Experiência Profissional*/
    section.experience {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .experience__section__title {
        line-height: 26px;
    }

    .experience__box {
        flex-direction: column;
        margin-bottom: 5rem;
        width: 100%;
    }

    #experience__box__apeperia {
        flex-wrap: wrap;
        padding: 0;
        margin-bottom: 5rem;
    }

    .experience__info {
        font-size: 8px;
        font-weight: 500;
        width: 65%;
    }

    .experience__img {
        width: 25rem;
    }

    /*Contato*/
    .formcontato__img {
        display: none;
    }

    #formcontato__botao {
        padding: 2%;
        width: 35%;
    }

    /*Titulo*/
    section.title {
        width: 100%;
    }

    .title__div {
        margin-top: 0;
        width: 320px;
    }

    .title__container {
        margin-right: 8%;
        position: relative;
        width: 100%;
    }

    .title__network {
        width: 100%;
        padding: 0;
        gap: 32px;
    }

    .title__network__item {
        margin-top: 1.5em;
        width: 180px;
    }

    .title__profile {
        height: 200px;
        width: 200px;
    }

    /*Sessão sobre*/
    .about {
        border-radius: 10%;
    }

    .about__container {
        display: flex;
        justify-content: center;
    }

    .about__paragraph,
    .about__title {
        padding: 0 15px;
    }

    .about__paragraph {
        display: flex;
        flex-wrap: wrap;
        margin-top: 1rem;
        font-size: 14px;
    }

    #imagem__assinatura {
        display: none;
    }

    /*Skills*/
    .skills__line {
        flex-direction: row;
        flex-wrap: wrap;
        text-align: left;
    }

    .skills__box {
        margin-top: 32px;
        width: 6.25rem;
    }

    /*Hobbies*/
    section.hobbies {
        display: block;
    }

    .hobbies__line {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        height: auto;
    }

    .hobbies__box {
        text-align: center;
        margin-top: 2em;
        padding: 0;
        width: 6.25rem;
    }

    /*Formação Acadêmica*/
    section.academic {
        height: auto;
        padding: 2em;
        padding-left: 0;
    }

    .academic__courses {
        flex-wrap: wrap;
        width: 100%;
    }

    .academic__courses__box {
        margin: 3rem 0;
        margin-top: 0;
    }

    /*Experiência Profissional*/
    .experience__section__title {
        line-height: 26px;
    }

    .experience__box {
        align-items: flex-start;
        flex-direction: column;
        margin-bottom: 5rem;
        width: 18.5rem;
    }

    #experience__box__apeperia {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        margin-bottom: 5rem;
        width: 18.5rem;
    }

    .experience__info {
        font-size: 8px;
        font-weight: 500;
        padding: 0 auto;
        width: 100%;
    }

    /*Contato*/
    .formcontato__img {
        display: none;
    }

    #formcontato__botao {
        padding: 2%;
        width: 70%;
    }
}

@media (min-width: 901px) {

    /* Menu */
    .mobile_nav {
        display: none;
    }

    .default_nav {
        display: flex;
    }

    /*Titulo*/
    section.title {
        width: 100%;
        height: auto;
    }

    .title__div {
        flex-direction: row-reverse;
        margin-bottom: 55px;
    }

    .title__container {
        margin-right: 5%;
        width: 57%;
    }

    .title__network {
        margin: 0;
        padding: 0;
        gap: 32px;
    }

    .title__profile {
        border-radius: 20%;
    }

    /*Sessão sobre*/
    .about__container {
        display: flex;
        justify-content: left;
    }

    .about__paragraph,
    .about__title {
        padding: 0 135px;
    }

    .about__paragraph {
        display: flex;
        flex-wrap: wrap;
        margin-top: 1rem;
        font-size: 14px;
    }

    #imagem__assinatura {
        padding-left: 135px;
    }

    /* skills */
    .skills__line, .hobbies__line {
        flex-direction: row;
        flex-wrap: wrap;
        text-align: left;
    }

    .skills__box, .hobbies__box {
        margin-top: 32px;
        width: 6.25rem;
    }
}