.experience__section__title{
    color: var(--cor-padrao-texto);
    display: block;
    font-family: var(--fonte-padrao);
    font-size: 1.563rem;
    font-weight: bold;
    margin-bottom: 2rem;
    text-align: center;
}