.title__div{
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: left;
    width: 80%;
    padding: 0 10%;
}

.title__container{
    display: flex;
    flex-direction: column;
}