.title__network__item{
  font-family: var(--fonte-padrao);
  font-size: 16px;
  font-weight: 500;
}

.botao {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  outline: none;
  padding: 10px 10px;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.botao:disabled {
  pointer-events: none;
}

.botao:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.botao:active {
  box-shadow: none;
  transform: translateY(0);
}